html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: Comfortaa, sans-serif, serif, helvetica; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

header {
  position: relative; }
  header nav {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(221, 205, 205, 0.5); }
    @media screen and (min-width: 48rem) {
      header nav {
        display: flex;
        align-items: center;
        justify-content: space-around; } }
    header nav .nav-links {
      text-transform: uppercase;
      font-weight: 700;
      color: #e53a40;
      margin: 0 8px;
      font-size: 1.4em; }
      @media screen and (min-width: 20rem) and (max-width: 23.44rem) {
        header nav .nav-links {
          font-size: .9em; } }
      @media screen and (min-width: 26.56rem) {
        header nav .nav-links {
          font-size: 1.125em; } }

.banner {
  width: 100%;
  height: 100vh;
  background: url(images/bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  .banner .text-wrapper {
    position: absolute;
    top: 18%;
    left: 0;
    text-align: center; }
    @media screen and (min-width: 26.56rem) {
      .banner .text-wrapper {
        left: 10.5px; } }
    @media screen and (min-width: 48rem) {
      .banner .text-wrapper {
        width: 650px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    .banner .text-wrapper__title {
      color: #fff; }
      @media screen and (min-width: 48rem) {
        .banner .text-wrapper__title {
          text-align: center;
          font-size: 3em; } }
    .banner .text-wrapper__sub-title {
      color: #fff;
      font-size: 1.2em;
      font-weight: 400; }
      @media screen and (min-width: 48rem) and (max-width: 90rem) {
        .banner .text-wrapper__sub-title {
          text-align: center; } }
    .banner .text-wrapper span {
      display: inline-block;
      border: 4px solid;
      background-color: #e53a40;
      padding: 11px;
      text-transform: uppercase;
      font-size: 1.2em; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%; }
  .wrapper::before, .wrapper::after {
    display: table;
    content: ""; }
  .wrapper::after {
    clear: both; }
  .wrapper .avatar-center {
    display: block;
    margin: auto; }
    .wrapper .avatar-center.radius {
      border-radius: 3px; }

.content {
  background-color: #e53a40;
  color: #fff;
  padding: 15px 0 30px 0; }
  @media screen and (min-width: 48rem) {
    .content {
      padding: 40px 0 70px 0; } }
  .content__title {
    margin-top: 12px;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center; }
    .content__title span {
      border-bottom: 3px solid;
      padding-bottom: 3px; }
  .content__about {
    margin-bottom: 0;
    text-align: left; }
  .content__list {
    list-style: none;
    padding-left: 0; }
    .content__list--info {
      list-style: none;
      line-height: 21px;
      padding-left: 0; }
      @media screen and (min-width: 90rem) {
        .content__list--info {
          text-align: center;
          margin-top: 25px; } }
    .content__list li {
      margin-bottom: 10px;
      line-height: 21px; }
    .content__list.group-images {
      padding-left: 0;
      display: block;
      text-align: center; }
      @media screen and (min-width: 90rem) {
        .content__list.group-images li {
          display: inline-block;
          margin-right: 15px; } }
      .content__list.group-images .avatar {
        border-radius: 3px; }

.image-overlay {
  width: 100%;
  height: 50vh;
  background: url(images/geek-girls-bg.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  background-attachment: fixed; }
  .image-overlay.img-2 {
    width: 100%;
    height: 50vh;
    background: url(images/geek-girls-code.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed; }
  .image-overlay.img-3 {
    width: 100%;
    height: 50vh;
    background: url(images/geek-girls.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed; }
  .image-overlay.img-4 {
    width: 100%;
    height: 50vh;
    background: url(images/geek-girls-meetup.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed; }
  @media screen and (min-width: 20rem) and (max-width: 48rem) {
    .image-overlay {
      height: 100vh;
      width: 100%;
      background-position: center;
      background-attachment: inherit;
      background-size: cover; }
      .image-overlay.img-2, .image-overlay.img-3, .image-overlay.img-4 {
        background-attachment: inherit;
        background-size: cover;
        height: 100vh; } }
  .image-overlay .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    background-color: rgba(119, 175, 156, 0.25); }
    @media screen and (min-width: 20rem) and (max-width: 48rem) {
      .image-overlay .color-overlay {
        height: 100vh; } }

.copyright {
  margin-bottom: 10px;
  text-align: center;
  color: #e53a40;
  font-weight: 700; }
  @media screen and (min-width: 48rem) {
    .copyright {
      float: left; } }

footer {
  position: relative; }
  footer .back-to-top {
    position: absolute;
    right: 27px;
    bottom: 75px;
    z-index: 20;
    border: 2px solid #fff; }
    @media screen and (min-width: 20rem) {
      footer .back-to-top {
        bottom: 80px;
        right: 28px; } }
    footer .back-to-top .icon {
      display: block;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center; }
      footer .back-to-top .icon.icon-arrow-up::before {
        content: "\f077";
        display: inline-block;
        font-family: "FontAwesome";
        color: #fff; }

.social-links {
  list-style: none;
  padding-left: 0;
  margin-top: 0; }
  @media screen and (min-width: 48rem) {
    .social-links {
      float: right;
      margin-top: 16px; } }
  .social-links .facebook {
    float: left; }
    @media screen and (min-width: 48rem) {
      .social-links .facebook {
        margin-right: 8px; } }
    .social-links .facebook a {
      color: #e53a40;
      font-weight: 700; }
    .social-links .facebook::after {
      content: "\f230";
      font-family: "FontAwesome";
      padding-left: 8px;
      color: #e53a40; }
  .social-links .email {
    float: right; }
    .social-links .email a {
      color: #e53a40;
      font-weight: 700; }
    .social-links .email::after {
      content: "\f0e0";
      font-family: "FontAwesome";
      padding-left: 8px;
      color: #e53a40; }

/*# sourceMappingURL=styles.css.map */
